.container{
   max-width:1056px;
    margin: 0 auto;
}

.container2{
    max-width: 1150px;
    margin: 0 auto;
}


// for section nine
.width394{
max-width: 394px;
}

.width356{
    max-width: 356px;
}
.width376{
    max-width: 376px;
}



// for nine bottom section
.marginbot{
    margin-bottom: 12px;
}

