.ten{
    margin-top: 100px;
    &__content__img{
        position: relative;
    }
    &__content__img--icon{
        max-width: 100%;
    }

   &__content__title{
       position: absolute;
       top: 117px;
       left: 60px;
   }
    &__content__btns{
        position: absolute;
        top: 374px;
        left:334px;
    }
   
}

// text style 
.ten{
    &__content__title{
        @include font (48px,400,$color_1);
        line-height: 64px;
        text-align: center;
        max-width: 920px;   
    }

    &__content__btn1{
        width: 166px;
        height: 50px;
        @include font (17px , 400 , #fff);
        background: $color_1;
        border-radius: 4px;
        margin-right: 10px;


    }

    &__content__btn2{
        width: 207px;
        height: 50px;
        @include font (18px,400,$color_1);
        background: #fff;
        border-radius: 4px;
        border: 1px solid #DADEDF;

    }
   
}